page-home {
  ion-content.content{
    // position: relative;

        content: '';
        background: url('../../assets/imgs/bg.jpeg') no-repeat center;
        background-size: cover;
        position: absolute;
        top: 20;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;

}

    $text-input-md-show-focus-highlight: true !important;
    $label-ios-text-color-focused: false;
    $label-md-text-color-focused: false;

    // .scroll-content{
    //   padding-top: 7vh !important;
    // }

    .button {
        // min-height: 6vh;
        // max-height: 6vh;
        // min-width: 100%;
        width: 100%;
    }

    .image {

      width: 50%;
      left: 0;
      text-align: center;
      height: 60%;
      margin: auto;
      border: 5px solid #fdab9f;
      opacity: 1;
    }

    .image2 {

      width: auto ;
      // max-height: 40vh;
      max-height: 30vh;
      // min-height: 40vh;
      background-size: cover;
      left: 0;
      text-align: center;
      // height: 40vh;
      margin: auto;
      border: 2px solid #fdab9f;
      opacity: 1;
    }

    .row2{
      margin-top: 5px;
    }

    ion-slides{
      margin-top: 3vh;
    }

}
