page-page6 {
  ion-content.content {
    content: "";
    background: url("../../assets/imgs/couple.jpg") no-repeat center;
    background-size: cover;
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
  }
  .image {
    width: 80%;
    left: 0;
    text-align: center;
    height: 80%;
    margin: auto;
    border: 5px solid #fdab9f;
    opacity: 1;
    transform: rotateX(360deg)

  }
  .msg-container{
    background-color: rgba(26, 24, 24, 0.76);
    opacity: .8;
  }
  h6{
    color: #ffffff;
    font-weight: bold;
  }

  .img-container{
    margin-top: 32vh;
  }
  label{
    color: azure;
    font-weight: bold
  }
}
